html, body {
  height: 100%;
}

body {
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.scheduler_header {
	border-bottom-style: solid;
	padding-bottom: 10em;
}

.scheduler_header button:hover {
  background-color: #1c5bc9;
}

.offset {
  border:1px solid white;
}

.next_arrow, .previous_arrow {
  margin-top: 1em;
}

.fields ul {
  list-style-type: none;
}

.fields .field_labels > li {
  margin-bottom: 2em;
}

/*------Date view on right side ----*/


/*-------------------------------*/

.fields .field_labels > .date_field {
  width: 300px;
}

.field_labels #customer_name {
  max-width: 450px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.date_field {
  max-width: 150px;
}


.employee_field {
  max-width: 200px;
}

.service_field {
  max-width: 200px;
}

/*.field_labels #employee-dropdown, #service-dropdown {*/
.field-dropdowns{
  max-width: 200px;
}

/* This style will be applied to all buttons */
.btn_default_cb {
  font-size: 16px;
  line-height: 1.33;
  border-radius: 4px;
  width:200px;
  height:30px;
  color:white;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color:#397ef5;
  border: 1px solid transparent;
  margin-top:1em;
}

.btn_default_cb:hover {
  background-color: #0444B3;
}

.make_appt_btn {
  margin-left: 3em;
}

.no-cust-btn {
  max-width: 120px;
  margin-right: 1.5em;
}

.field_labels li {
  /*border:2px solid blue;*/
  margin-bottom: 1em;
}

.move-down {
  margin-top: 200px;
}

.employee_col {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 1em;
}

.fc-day-header {
  font-size: 20px;
}

.field_labels .cust-fields {
  list-style: none;
  padding-left: 0em;
}

.field_labels .cust-fields li {
  display: inline-block;
}

#cust-name-fields {
  max-width: 350px;
}

/*.field_labels .cust-fields #cust-search-button {*/
#cust-search-button {
  /*margin-left: -0.3em;*/
  /*height: 34px;*/
  background-color: #CCCCCC;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  border-color: transparent;
}

.field_labels .cust-fields #cust_name_field {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* These items will be initially hidden, 
then displayed based on search results */
.customer-history {
  /*display: none;*/
  margin-top: -1em;
}

#no-customer-returned {
  /*display: none;*/
}
/*---------------*/

.customer-history #date-head {
  padding-right: 4.5em;
}

.customer-history #emp-head {
  padding-right: 2em;
}

.customer-history #service-head {
  padding-right: 5em;
}

#cust-history-close {
  cursor: pointer;
}

.customer-history .customer-info {
  float:left;
}

.customer-history #cust-history-close {
  float:right;
}


.appt-timepicker {
  max-width: 150px;
}

.one-service-dropdown *{
  display:inline;
}

/* Set font color of items in the service dropdown.
These colors will match the color that will appear on the calendar for appointments
of these services */
#haircut-option {
  color:#3A87AD;
}

#beard-trim-option {
  color:#368C23;
}

#shave-option {
  color:#FF887C;
}

#color-option {
  color:#F58839;
}

#eyebrow-wax-option {
  color:#7107A5;
}

#unavailable-option {
  color:#F45245;
}

/* Only display unavailable-service when the user
selects Unavailable from Services drop down */
#unavailable-service {
  display: none;
}

#unavailable-start-fields {
  padding-bottom: 1em;
}

#unavailable-end-fields label{

}
/* These elements are the paretns of the field-column div
we are setting the width of these in order to be able to set a height
percentage for field-column */
html, body, .grid, .row, #calender-column {
  height: 100%;
}

/* DHTMLX Scheduler */
#scheduler_here {
  height:95%; 
  border-bottom:1px solid #CECECE;
  width:100%;
}

.dhx_cal_header .dhx_scale_bar {
  font-size: 16px;
  font-weight: bold;
}

.dhx_scale_holder .dhx_scale_hour {
  border-left: 1px solid #CECECE;
}

#field-column {
  height:99%;
  overflow:auto;
}

.dhx_cal_today_button:hover, 
.dhx_cal_prev_button:hover,
.dhx_cal_next_button:hover {
  background-color:#EFEFEF;
}

/*Styles for add new customer modal screen */
.modal_wrapper {
  position: fixed; 
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5); /* last value is opacity */
  z-index: 1000; 
}

#modal_wrapper_new_customer {
  /*TO-DO: document difference between visibility and display*/
  visibility: hidden;
}

/* This presents scrollbars when the div overflows */
#modal_wrapper_new_customer {
  overflow: auto;
}

#modal_new_customer {
  max-width: 675px;
  /*50px sets the margin for top/bottom. 
  The auto is for left/right to center the object
  http://learnlayout.com/margin-auto.html*/
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding:15px;
  text-align:left;
}

.new_cust_header #new_cust_title {
  float:left;
}

.new_cust_header #new_cust_close {
  float:right;
}

#new_customer_form {
  margin-top: 65px;
}

#new_customer_table tr > td{
  padding-bottom: 1em;
}

#new_cust_name {
  width:200px;
}

#new_cust_gender_field > input{
  display: inline-block;
  padding-right: 2em;
}

.right_col {
  /*text-align: right;*/
  padding-right: 1em;
  width:150px;
  text-align: right;
}

/* Note: input and select fields in Bootstrap are
set to width: 100% by default */
#new_cust_cell_phone,
#new_cust_home_phone {
  width:150px;
}

#new_cust_email { 
  width:200px; 
}

#new_cust_birthday {
  width:150px; 
}

#new_cust_address {
  width: 230px; 
}

#new_cust_address_label {
  padding-left: 1em;
}

#new_cust_home_phone_label {
  padding-left: 1em;
}

#text_email_notify {
  padding-left: 1em;
}

/*#new_cust_notification > p, #notification_options {*/
#new_cust_notification > *{
  display: inline-block;
}

#notification_question {
  /*this will set the position of the element 22 pixels
  up from its normal position */
  position: relative;
  top:-22px;
  padding-right: 0.75em;
}

/*
#make_appt_new_cust_question > * {
  display: inline-block;
}
*/

#new_cust_children_question > *,
#make_appt_new_cust_question > *,
#new_cust_parent_question > * {
  display: inline-block;
}

#new_cust_children_question > p,
#make_appt_new_cust_question > p,
#new_cust_parent_question > p{
  padding-right: 0.75em;
}

#make_appt_new_cust {
  padding-left: 0.75em;
}

.add_new_cust_child_fields{
  display:none;
}

#new_cust_child_name,
#new_cust_child_email{
  width: 150px;
}

#new_cust_child_cell {
  width:135px;
}

#new_cust_child_birthday {
  width:130px;
}

#clearNewCustFieldsButton {
  width:150px;
  margin-left: 1em;
}

#cust-parent-input-group {
  width:250px;
}

#check_child_parent_button {
  background-color: #CCCCCC;
}

.emptyField {
  color:red;
}

.fields_missing_msg {
  display: none;
  color:red;
  font-weight: bold;
}

/*Styles for the customer search results window */
#modal_cust_search_results {
  max-width: 1000px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding:15px;
}

.cust-search-row:hover,
.cust-search-selected{
  background-color: #F4F4F4;
}

#cust_search_name {
  padding-left: 0.5em;
}

#cust_search_results_table{
  width: 100%;
  /*border-collapse: separate;*/
  border-spacing: 15px;
}

#cust_search_results_table th{
  border-bottom:2px solid black;
}

#cust_search_results_table td{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #E3E3E3;
}

#cust_search_results_header h4 {
  float:left;
}

#cust_search_results_header #cust_search_results_close {
  float:right;
}

#select_cust_results_btn, #edit_cust_results_btn {
  width:100px;
  margin-left: 1em;  
}

#no_cust_selected_msg {
  padding-top: 1em;
}

.badField{
  /*Need !important here to apply this rule since the Bootstrap
  styles would otherwise override it 
  https://css-tricks.com/when-using-important-is-the-right-choice/*/
  border:2px solid #FF0000 !important;
}


/*------------------------------*/

/*
.fields button {
  padding:16px, 26px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
  width:155px;
  height:57px;
  color:white;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color:#397ef5;
  border: 1px solid transparent;
  margin-top:1em;
}
*/