html, body {
  height: 100%;
}

html, body, div {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 24px;*/
}

/*--CSS for the login page ---*/
#login_page{
  margin: 50px auto;
  max-width:250px;
  border:1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color: #F9F9F9;
}

.login_header{
  text-align: center;
}

#username{
  margin-bottom: 20px;
}

#login_submit_btn{
  width:100%;
}

.login_msgs{
  text-align: center;
  margin-top: 1.0em;
}

/*----------------------------*/

.scheduler_header {
	border-bottom-style: solid;
	padding-bottom: 10em;
}

.scheduler_header button:hover {
  background-color: #1c5bc9;
}

.offset {
  border:1px solid white;
}

.fields ul {
  list-style-type: none;
}

.fields .field_labels > li {
  margin-bottom: 2em;
}

#user-greeting{
  float:left;
}

#log-out-link{
  float:right;
  position: relative;
  right: 15px;
}

/*------Date view on right side ----*/


/*-------------------------------*/

.fields .field_labels > .date_field {
  width: 300px;
}

.field_labels #customer_name {
  max-width: 450px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.date_field {
  max-width: 150px;
}

#date {
  background-color: #FFFFFF;
}

.employee_field {
  max-width: 200px;
}

.service_field {
  max-width: 200px;
}

.field-dropdowns{
  max-width: 200px;
}

.field-dropdowns > option{
  /*styling the options of a dropdown options have different
  results in different browsers. IE seems to repsect the change in
  font size, but not Chrome */
  /*padding-top:15px;*/
  font-size: 22px;
}

/* This style will be applied to all buttons */
.btn_default_cb {
  font-size: 16px;
  line-height: 1.33;
  border-radius: 4px;
  width:200px;
  height:30px;
  color:white;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color:#397ef5;
  border: 1px solid transparent;
  margin-top:1em;
}

.btn_default_cb:hover {
  background-color: #0444B3;
}
/*------*/

.make_appt_btn {
  margin-left: 3em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  height: 50px;
}

/* Standard error message */
.error_msg, .fields_missing_msg {
  display: none;
  color:#FF0000;
  font-weight: bold;
}

#appt-time-error,
#unavailable-time-error{
  display: none;
  color:#FF0000;
}

.ajax_error{
  color:#FF0000;
  font-weight: bold;
}
/*----------*/

.no-cust-btn {
  max-width: 120px;
  margin-right: 1.5em;
}

.field_labels li {
  /*border:2px solid blue;*/
  /*margin-bottom: 1em;*/
}

.move-down {
  margin-top: 200px;
}

.fc-day-header {
  font-size: 20px;
}

.filter {
  display: inline-block;
  cursor: pointer;
  border: 1px solid blue;
}

.active-filter {
  background: #0444B3;
}

#cust-name-fields {
  max-width: 350px;
}

#cust-search-button {
  /*margin-left: -0.3em;*/
  /*height: 34px;*/
  background-color: #CCCCCC;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  border-color: transparent;
}

/* These items will be initially hidden,
then displayed based on search results */
.customer-history {
  margin-top: 1.0em;
}

.edit-cust-info-field {
  background-color: #FFFFFF !important;
  border:0 !important;
}

#edit-cust-info-btn {
  margin-right:3.0em;
}

#edit-cust-info-btn:hover {
  cursor: pointer;
}

.edit-cust-field-selected {
  border:1px solid #ccc !important;
}

.dhtmlx-edit-cust-info-msgbox {
  left:5px;
  right:auto;
}

#no-customer-returned > p {
  display: block;
}

.customer-history #date-head {
  padding-right: 2.0em;
}

.customer-history #emp-head {
  padding-right: 1.5em;
}

.customer-history #service-head {
  padding-right: 3em;
}

#customer-id{
  display: none;
}

#cust-history-close {
  cursor: pointer;
  padding-left:9.0em;
}

.customer-history .customer-info p {
  display: block;
}

.customer-history-table th {
  border-bottom:1px solid black;
}

.customer-history-table {
  margin-top:1.0em;
}

.customer-history-table td{
  padding-right: 1.5em;
}

.btn_edit_cust_info {
  max-width: 100px;
  height: 33px;
  margin-top: 0em;
}

#btn_save_cust_info {
  display: none;
  font-size: 14px;
  width: 75px;
}

.editing_fields_area{
  border:1px solid #428bca;
  border-radius: 10px;
  padding:1.0em;
  background-color:#F5F5F5;
}

/*---------------*/

#new-service-plus {
  display: none;
  padding-left: 10px;
}

/*These rules are for the Time portion of the Make Appointment screen.
They add styling to the start time, hours, and minutes fields*/
.bootstrap-timepicker-widget table tr td a{
  height:40px;
  width:50px;
}

.bootstrap-timepicker-hour,
.bootstrap-timepicker-minute,
.bootstrap-timepicker-meridian {
  font-size: 18px;
}

/*NOTE: I made a change to this element in the min.css file
I changed the margin to 0.75em, and the width to 50px and height to 40px.
I also changed the icon for the up/down arrows in the min.js file
I replaced the icon-chevron-up class with the glyphicon glyphicon-chevron-up classes.
The arrows were not appearing since the icon-chevron-up class did not exist. */
.bootstrap-timepicker-widget table td input {}

/* Added this to allow the timepicker to appear when the custom lightbox is open */
.bootstrap-timepicker-widget.dropdown-menu.open {
  z-index: 10001;
}

.appt-timepicker {
  max-width: 150px;
}

#appt-length-hours {
  width:50px;
  margin-left: 0.3em;
}

#appt-length-mins {
  width:60px;
}

.appt-time-arrow-btn{
  border-color: #FFFFFF !important;
}

.appt-time-arrow-btn:hover{
  border-color: #CCCCCC !important;
  background-color: #FFFFFF !important;
}

.time-field,
.hours-min-fields{
  padding-right: 1em;
}

.appt-time-arrow-span {
  color:#428BCA;
  font-size:2.5em;
}

#hour-down-arrow,
#min-down-arrow{
  padding-top: 1em;
}

#hour-up-arrow,
#min-up-arrow{
  padding-bottom: 1em;
}

#start-time,
#appt-length-hours,
#appt-length-mins {
  background-color: #FFFFFF;
}

.hours-min-fields input, p {
  display: inline;
}
/*--------------*/

/* Only display unavailable-service when the user
selects Unavailable from Services drop down */
#unavailable-service {
  display: none;
}

#unavailable-start-fields {
  padding-bottom: 1em;
}

#unavailable-start-time,
#unavailable-end-time{
  background-color: #FFFFFF;
}

/* These elements are the paretns of the field-column div
we are setting the width of these in order to be able to set a height
percentage for field-column */
html, body, .grid, .row, #calender-column {
  height: 100%;
}

/* DHTMLX Scheduler */
#scheduler_here {
  height:95%;
  border-bottom:1px solid #CECECE;
  width:100%;
}

.dhx_cal_header .dhx_scale_bar {
  font-size: 16px;
  font-weight: bold;
}

.dhx_scale_holder .dhx_scale_hour {
  border-left: 1px solid #CECECE;
}

#field-column {
  height:99%;
  overflow:auto;
}

.dhx_cal_today_button:hover,
.dhx_cal_prev_button:hover,
.dhx_cal_next_button:hover {
  background-color:#EFEFEF;
}

/*Styles for add new customer modal screen */
.modal_wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5); /* last value is opacity */
  z-index: 1000;
}

#modal_wrapper_new_customer {
  /*TO-DO: document difference between visibility and display*/
  /*visibility: hidden;
  This will not display the element, but it will still take up the
  space as if the element is there. */
  display: none;
  /*display:none completely hides the element and does not take up any space*/
  /* This presents scrollbars when the div overflows */
  overflow: auto;
}

#modal_new_customer {
  max-width: 675px;
  /*50px sets the margin for top/bottom.
  The auto is for left/right to center the object
  http://learnlayout.com/margin-auto.html*/
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding:15px;
  text-align:left;
}

.new_cust_header #new_cust_title {
  float:left;
}

.new_cust_header #new_cust_close {
  float:right;
}

#new_customer_form {
  margin-top: 65px;
}

#new_customer_table tr > td{
  padding-bottom: 1em;
}

#new_cust_name {
  width:200px;
}

#new_cust_gender_field > input{
  display: inline-block;
  padding-right: 2em;
}

.right_col {
  /*text-align: right;*/
  padding-right: 1em;
  width:150px;
  text-align: right;
}

/* Note: input and select fields in Bootstrap are
set to width: 100% by default */
#new_cust_cell_phone,
#new_cust_home_phone {
  width:150px;
}

#new_cust_email {
  width:200px;
}

#new_cust_birthday_row * {
  display: inline-block;
  background-color: #FFFFFF;
}

#new_cust_birthday, #new_cust_birthday_year {
  /*width:97px; */
  width:48%;
}

#new_cust_birthday_year{
  text-align: center;
}

#new_cust_address {
  width: 230px;
}

#new_cust_address_label {
  padding-left: 1em;
}

#new_cust_home_phone_label {
  padding-left: 1em;
}

#text_email_notify {
  padding-left: 1em;
}

/*#new_cust_notification > p, #notification_options {*/
#new_cust_notification > *{
  display: inline-block;
}

#notification_question {
  /*this will set the position of the element 22 pixels
  up from its normal position */
  position: relative;
  top:-38px;
  padding-right: 0.75em;
}

#new_cust_children_question > *,
#make_appt_new_cust_question > *,
#new_cust_parent_question > * {
  display: inline-block;
}

#new_cust_children_question > p,
#make_appt_new_cust_question > p,
#new_cust_parent_question > p{
  padding-right: 0.75em;
}

#make_appt_new_cust {
  padding-left: 0.75em;
}

.add_new_cust_child_fields{
  display:none;
}

#new_cust_child_name,
#new_cust_child_email{
  width: 150px;
}

#new_cust_child_cell {
  width:135px;
}

#new_cust_child_birthday {
  width:130px;
}

#clearNewCustFieldsButton {
  width:150px;
  margin-left: 1em;
}

#cust-parent-input-group {
  width:250px;
}

#check_child_parent_button {
  background-color: #CCCCCC;
}

#addNewCustomerButton{
  width: 175px;
}

#closeNewCustButton{
  width: 120px;
  margin-left:2.0em;
}

.emptyField {
  color:red;
}

/*Styles for the customer search results window */
#modal_cust_search_results {
  max-width: 1200px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding:15px;
  display:table;
}

.cust-search-row:hover,
.cust-search-selected{
  background-color: #F4F4F4;
}

#cust_search_name {
  padding-left: 0.5em;
}

#cust_search_results_table{
  width: 100%;
  /*border-collapse: separate;*/
  border-spacing: 15px;
  border-top:2px solid #000000;
}

#cust_search_results_table thead{
  display: block;
}

#cust_search_results_table th{
  border-bottom:2px solid black;
}

#cust_search_results_table .top_row th{
  /*padding-left: 3em;*/
}

#cust_search_results_table .cust-name-col{
  padding-left: 2.0em;
}

#cust_search_results_table .cust-cell-col{
  padding-left: 9.0em;
}

#cust_search_results_table thead th{
  /*border:1px solid blue;*/
  /*width:15%;*/
}

#cust_search_results_table td{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #E3E3E3;
}

#cust_search_results_table td:not(:first-child) {
  padding-left: 1em;
}

#cust_search_results_table tbody{
  display: block;
  /*setting max-height to 335px here since that is the height of 5 rows
  of customer search results. Any more than that, then the y-scroll
  will be displayed */
  max-height: 335px;
  overflow-y: auto;
}

#cust_search_results_header h4 {
  float:left;
}

#cust_search_results_header #cust_search_results_close {
  float:right;
}

.history_button_group button{
  display: inline;
}

.modal_btns {
  width:120px;
  margin-right: 2.0em;
}

#no_cust_selected_msg {
  padding-top: 1em;
}

.badField{
  /*Need !important here to apply this rule since the Bootstrap
  styles would otherwise override it
  https://css-tricks.com/when-using-important-is-the-right-choice/*/
  border:2px solid #FF0000 !important;
}
/*-----------------------------------------*/

/*-----Styling for customer history modal window-----*/
#modal_cust_history{
  max-width: 900px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding:15px;
  /*height:450px;*/
  display:table;
}

#history_cust_info{
  float:left;
  width: 33%;
  /*border:1px solid;*/
}

#history_cust_info_list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#history_cust_info_list li {
  padding-bottom: 0.25em;
}

#cust_history_heading {
  border-bottom: 2px solid;
}

#cust_history_heading h3{
  margin-top:0em;
}

#history_cust_history{
  float:right;
  width:66%;
}

#cust_history_table td {
  padding-top: 1.0em;
  padding-bottom:1.0em;
  padding-right: 1.0em;
  border-bottom:1px solid #E3E3E3;
}

#cust_history_table tbody{
  display:block;
  max-height: 500px;
  overflow: auto;
}

/*Making both of these columns have a fixed width
so the table does not shrink in width when the user
navigates through the history*/
.history_notes_col{
  width: 200px;
}

/*This is the column listing the services.
171px is the width of Haircut, Beard Trim
which is the most common service*/
.history_service_col{
  width: 171px;
}

.history_spaced_row{
  padding-right:2em;
}

/*----Styling for custom lightbox----------*/
#custom_lightbox{
  /*NOTE: Changed opacity for the dhx_cal_cover class from 0.1 to 0.5 in the
  dhtmlxscheduler.css file*/
  /*absolute positions an element relative to the first parent
  that is not positioned static. If none are found, then html is used */
  position: absolute;
  margin-top: 0px !important;
  max-width: 660px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #fff;
  z-index: 10001;
  display: none;
  padding:15px;
  border-radius: 10px;
}

#lightbox-table tr td {
  padding-bottom: 1em;
}

#lightbox-header * {
  display: inline;
}

#lightbox-header {
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

#time-row > * {
  display: inline;
}

#lightbox-start-time {
  margin-right: 5em;
}

#lightbox-start-time,
#lightbox-end-time{
  background-color: #FFFFFF;
}


#lightbox-date {
  max-width: 150px;
  background-color: #FFFFFF;
}

#lightbox-service-checklist input {
  display: inline-block;
  margin-right: 1em;
  /*padding-right: 1em;*/
  border:1px solid black;
}

#lightbox-service-list li {
  display: inline;
  padding-right: 2em;
}

/*
Inserts a line break (\A is ASCII character for line break)
after every 4 li elements in the list of services. This prevents
the elements from being too close together.
The value for n starts at 0, then contains all positive integers.
https://css-tricks.com/how-nth-child-works/
*/
#lightbox-service-list li:nth-child(4n):after {
  content: "\A\A";
  white-space: pre;
}

#lightbox-service-list li:hover {
  cursor: pointer;
}

/*This class is added to the items in the list of services
which are selected */
.lightbox-service-list-selected{
  font-weight: bold;
}

#lightbox-emp-list {
  max-width: 150px;
}

#lightbox-emp-list > option {
  font-size: 18px;
}

#lightbox-notes {
  max-width: 350px;
}

#lightbox-buttons button{
  display: inline;
  width:150px;
  margin-right: 2.0em;
  margin-left: 1.0em;
}
/*-----------------------------------------*/

/* These are the stlying rules for the DHTMLX Messages
which appear when an appointment is deleted or created */
.dhtmlx-msgWindow,
.dhtmlx-error {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 220px;
}

.selectedService{
  font-weight: bold;
  text-decoration: underline;
}


/*------------------------------*/
