body {
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.scheduler_header {
	border-bottom-style: solid;
	padding-bottom: 10em;
}

.scheduler_header button:hover {
  background-color: #1c5bc9;
}

.offset {
  border:1px solid white;
}

.next_arrow, .previous_arrow {
  margin-top: 1em;
}

.fields ul {
  list-style-type: none;
}

.fields {
  /*border:1px solid black;*/
}

.fields .field_labels > li {
  margin-bottom: 2em;
}

/*------Date view on right side ----*/


/*-------------------------------*/

.field_labels #cust_name_label {
  font-size: 16px;
}

.fields .field_labels > .date_field {
  width: 300px;
}

.field_labels #customer_name {
  width: 300px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.date_field {
  max-width: 150px;
}


.employee_field {
  max-width: 200px;
}

.service_field {
  max-width: 200px;
}

.field_labels #employee-dropdown, #service-dropdown {
  max-width: 200px;
}

/* This style will be applied to all buttons */
.btn_default_cb {
  font-size: 16px;
  line-height: 1.33;
  border-radius: 4px;
  width:200px;
  height:30px;
  color:white;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color:#397ef5;
  border: 1px solid transparent;
  margin-top:1em;
}

.btn_default_cb:hover {
  background-color: #0444B3;
}

.make_appt_btn {
  margin-left: 3em;
}

.no-cust-btn {
  max-width: 100px;
}

.calendar2 {
  margin-top: 1.2em;

}

/* These are all the rows in the day view */
.fc-slats tr {
  /*background-color: red;*/
}

.calendar .fc-toolbar {
  /*width:700px;*/
}

.field_labels li {
  /*border:2px solid blue;*/
  margin-bottom: 1em;
}

.move-down {
  margin-top: 200px;
}

.employee_col {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 1em;
}

.fc-day-header {
  font-size: 20px;
}

.field_labels .cust-fields {
  list-style: none;
  padding-left: 0em;
}

.field_labels .cust-fields li {
  display: inline-block;
}

.field_labels .cust-fields .cust-search-button {
  margin-left: -0.3em;
  height: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  border-color: transparent;
}

.field_labels .cust-fields #cust_name_field {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* These items will be initially hidden, 
then displayed based on search results */
.customer-history {
  display: none;
  margin-top: -1em;
}

#no-customer-returned {
  display: none;
}
/*---------------*/

.customer-history #date-head {
  padding-right: 4.5em;
}

.customer-history #emp-head {
  padding-right: 2em;
}

.customer-history #service-head {
  padding-right: 5em;
}

#cust-history-close {
  cursor: pointer;
}

#appt-timepicker {
  max-width: 150px;
}

#no-customer-returned {

}

/* Set font color of items in the service dropdown.
These colors will match the color that will appear on the calendar for appointments
of these services */
#haircut-option {
  color:#3A87AD;
}

#unavailable-option {
  color:#F45245;
}

#color-option {
  color:#F58839;
}


/*
.fields button {
  padding:16px, 26px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
  width:155px;
  height:57px;
  color:white;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color:#397ef5;
  border: 1px solid transparent;
  margin-top:1em;
}
*/